.DiaryList{

}

.DiaryList .menu_wrapper{
    margin-top:20px;
    margin-bottom:30px;
    display: flex;
    justify-content: space-between;
}

.DiaryList .left_col select{
    margin-right: 10px;
    border:none;
    border-radius:5px;
    background-color: #abbec721;
    box-shadow: 1px 1px 3px 1px #00000021;
    padding: 10px 20px;
    cursor: pointer;
    font-size:18px;
}

.DiaryList .menu_wrapper .right_col{
    flex-grow:1;
    
}

.DiaryList .menu_wrapper .right_col button{
    width: 100%;
    box-shadow: 1px 1px 3px 1px #00000021;
}

