.Editor {}

.Editor .editor_section{
    margin-bottom: 40px;
}

.Editor h4{
    font-size: 22px;
    font-weight: bold;
}

.Editor input, textarea{
    border-radius:5px;
    background: #ececec;
    padding:20px;
    font-size: 20px;
    background-color:transparent;
    border:1px solid #d1d0d0;
}

.Editor input{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor:pointer;
}
.Editor textarea{
    width:100%;
    min-height:200px;
    box-sizing: border-box;
    resize:vertical;
    
}

.Editor .bottom_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.Editor .emotion_list_wrapper{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    width: 100%; 
    padding: 10px 0;
}


