.DiaryItem{
    box-sizing: border-box;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:150px;
    gap: 15px;
}

.emotionArea{
    width:25%;
    height:90%;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin:5px;
    border-radius: 10px;
}

.contentArea{
    width:60%;
    height:90%;
    align-content: center;
    box-sizing: border-box;
}

.contentArea div:nth-child(1) {
    margin:5px;
    height:30%;
    align-content: center;
}

.contentArea div:nth-child(2) {
    margin:5px;
    height:60%;
    align-content: center;
}

.buttonArea{
    width:15%;
    height:90%;
    align-content: center;
}

.buttonArea button{
    padding:10px;
    border: none;
    background-color: rgb(152, 204, 187);
    border-radius: 10px;
}