.list-section {
    width:100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #acdce28e;    
}

.list-section > div {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.list-section:hover{
    background-color: #dae7f881;
}


.list-section > div:nth-child(1) {flex:0.5;}
.list-section > div:nth-child(2) {flex:3;text-align: left;}
.list-section > div:nth-child(3) {flex:1;}
.list-section > div:nth-child(4) {flex:1;}
