.Button{
    cursor:pointer;
    border: none;
    border-radius: 5px;
    padding:10px 20px;
    font-size: 18px;    
    white-space:nowrap;
    background-color: transparent;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.Button_default {
    background-color:#abbec721;
    color:#467991;
}

.Button_positive{
    background-color: #7dcfbb;
    color: white;
}

.Button_negative{
    background-color: #e67378;
    color:white;
}